body{
    background-image:url("https://images.pexels.com/photos/988873/pexels-photo-988873.jpeg");
}
h1{
    font-family:"sans-serif";
    font-weight:bold;
    text-align:center;
}
p{
    font-size:'cursive';
    text-align:center;
}