body{
    background-image:url("https://images.pexels.com/photos/1532771/pexels-photo-1532771.jpeg");
    background-repeat:no-repeat;
}
h1{
    font-family:"sans-serif";
    font-weight:bold;
    text-align:center;
}
p{
    font-family:'cursive';
}